@font-face {
  display: swap;
  font-style: normal;
  font-family: 'Noto Sans Arabic';
  font-weight: 100 900;
  src: url('../fonts/NotoSansArabic.ttf') format('truetype');
}

@font-face {
  display: swap;
  font-style: normal;
  font-family: 'UthmanTN';
  font-weight: 100 900;
  src: url('../fonts/UthmanTN.ttf') format('truetype');
}

:root {
  --font-family: 'Noto Sans Arabic', sans-serif;
}

hgroup {
  margin-bottom: 3rem;
}

article {
  position: relative;
  text-align: center;
  font-size: 1.5rem;
  font-family: 'UthmanTN', sans-serif;
}

article[aria-busy="true"] .ayah {
  display: none;
}

article .ayah:not(:first-child) {
  margin-inline-start: 5px;
  filter: blur(5px);
  cursor: pointer;
}

article .ayah.active {
  filter: blur(0px);
  cursor: default;
}

article[aria-busy="false"] .ayah {
  display: initial;
}

article[aria-busy="false"] .info {
  position: absolute;
  top: 10px;
  left: 10px;
  font-size: 1rem;
  color: #999;
}

article .end::before {
  content: '﴿';
}

article .end::after {
  content: '﴾';
}
